<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="NuGetPackagesFeedTests" value="https://edvandronegreiros.pkgs.visualstudio.com/ba81877a-561c-49bc-9072-df6569073719/_packaging/NuGetPackagesFeedTests/nuget/v3/index.json" />
  </packageSources>
</configuration>